# Ignore dependencies - handled via Docker volume
/vendor

# Ignore logs and cache
/cache
/upload
*.log

# Ignore temporary files
/tmp
*.tmp

# Ignore Git files
.git
.gitignore

# OS-specific
.DS_Store
Thumbs.db

# Node (if SuiteCRM 8+ build scripts present)
node_modules

# IDE
.idea
.vscode
